# macOS
.DS_Store

# Runtime / application-generated
.config/iterm2/
.config/karabiner/automatic_backups/
.config/wezterm/wezterm.lua.backup
.config/wezterm/project_history.txt
.config/zed/embeddings/
.config/zed/conversations/
.config/zed/prompts/
.config/zed/settings_backup.json

# Secrets
*.secrets
